In [1]:
print("hello world")

hello world

In [1]:
print(4)
type(12.0)
type(True)
type(12)
message = 'enter your number'

4

In [2]:
print(message)
type(message)

enter your number

str

In [22]:
minute = 60
minute/11 #floating output
minute //11 #int output
minute**3 # ** for power
minute%11 #remainder

5

In [23]:
first = 10 
second =20
print(first+second)

30

In [31]:
first = "100"
second = '200'
msg= 'Allah '
print(first+' '+second)
num = 4
print(msg*num)

100 200
Allah Allah Allah Allah

In [3]:
inp = input('What is your name: ')
print(type(inp))

<class 'str'>

In [15]:
distance = int(input("Enter distance: "))
print(distance)
time = int(input("Enter time: "))
print(time)
velocity = distance/time
print(velocity)

10
20
0.5

In [15]:
#exception
#distance_str= input('Enter distance')
try:
    distance = int(input('Enter distance'))
except:
    distance = input('Please enter valid distance: ')

print(distance)

#any one block will run we dont know which one so any one of this will have error
#print(dis)
#print(distance_str)

1

In [16]:
x=20
if x > 0:
    print("X positive")
if x > 0:
    print("X positive")
else:
    if x<0:
        print("x Negative")
    else:
        print('Zero')

X positive
X positive

In [48]:
max('Hello riad') #ascii maximum value
len('hello riad')

str(10)
float(10)

10.0

In [53]:
import math
print(math.pi)
math.sin(math.pi)
math.sqrt(2)

3.141592653589793

1.4142135623730951

In [23]:
import random
random.randint(10,100)
t= [1,2,3]
random.choice(t)

2

In [25]:
for i in range(10):
    x= random.random() # assign number between 0-1 
    print(x)

0.6399125934036957
0.18021713204396217
0.054172900231977295
0.8800008436066015
0.6321784347522577
0.6412711963512108
0.4452143688742606
0.23193508151265896
0.6358389305751713
0.8204663911166522

In [26]:
def print_name():
    print('RUET')
print_name()

RUET

In [32]:
#function with argument
def print_name_twic(name , est):
    print_name()
    print(name , est)
print_name_twic('CUET',1964)

RUET
CUET 1964

In [33]:
#function with return
def get_name():
    return 'RUET'
get_name()

'RUET'

In [37]:
def add_two(a, b):
    added = a + b
    return added
print(add_two('10', '20'))
add_two(10, 20)

1020

30

In [39]:
range(10, 110)

range(10, 110)

In [41]:
# means 19 is the last number here
#FOR IS ITERATIVE LOOP
for i in range(10,20):
    print(i)

10
11
12
13
14
15
16
17
18
19

In [43]:
#c while loop same here
n=10
while n>0:
    print(n)
    n=n-2

10
8
6
4
2
0

In [45]:
while True:
    line = input('>')
    if line == 'done':
        break
    print(line)
print('Finished')

asd
awf
awf
Finished

In [46]:
university = ['RUET','CUET','KURT','BUET']
for uni in university:
    print(uni)

RUET
CUET
KURT
BUET

In [2]:
while True:
    line = input('>')
    if line[0] == '#':
        continue
    if line == 'done':
        break
    print(line)
print('Finished')

Finished

In [3]:
count = 0
for iter in [1, 2, 3, 4, 5, 6]:
    count = count + 1
    print(iter)
print(count)

1
2
3
4
5
6
6

In [7]:
count = 0
for iter in [20, 30, 40, 50]:
    print(iter)
    count = count + iter
print(count)

20
30
40
50
140

In [8]:
large = None #None means no data in large
print(large)
print("Before: ", large)

for itr in [20, 30, 40]:
    if large is None or itr>large:
        large = itr
    print('loop:', itr, large)
print('after: ',type(large) )

None
Before:  None
loop: 20 20
loop: 30 30
loop: 40 40
after:  <class 'int'>

In [18]:
numbers = [10, 20, 40, 20, 5]
min_val = numbers[0]
for num in numbers:
    if min_val>num:
        min_val = num
print('Minimum Value is: ',min_val)
print('Minimum Value is: ',min(numbers))
numbers.sort()
print(numbers)
numbers.sort(reverse=True)
print(numbers)

sorted(numbers, reverse=True)
print(numbers)

Minimum Value is:  5
Minimum Value is:  5
[5, 10, 20, 20, 40]
[40, 20, 20, 10, 5]
[40, 20, 20, 10, 5]

In [19]:
#list
eng_uni = ['RUET','KUET','BUET','CUET']
for i in range(len(eng_uni)):
    if eng_uni[i] == 'KUET':
        eng_uni[i] = 'DUET'
print(eng_uni)

#list scaling
#first find index
i= eng_uni.index('KUET')
eng_uni = eng_uni[:i]+['DUET']+eng_uni[l+1:]
print(eng_uni)

['RUET', 'DUET', 'BUET', 'CUET']

In [21]:
eng_uni = ['RUET','KUET','BUET','CUET']
#list scaling
#first find index
i= eng_uni.index('KUET')
#now replace 'KUET' with 'DUET'
eng_uni = eng_uni[:i]+['DUET']+eng_uni[i+1:]
print(eng_uni)

['RUET', 'DUET', 'BUET', 'CUET']

In [22]:
eng_uni = ['RUET','KUET','BUET','CUET']
#list scaling by lambda function

#now replace 'KUET' with 'DUET'
eng_uni = list(map(lambda x: x.replace('KUET', 'DUET'),eng_uni))
print(eng_uni)

['RUET', 'DUET', 'BUET', 'CUET']

In [27]:
#enumerate function: enumerate(list)= [(0, list[0]), ...] like this
for i, uni in enumerate(eng_uni):
    if eng_uni[i] == 'DUET':
        eng_uni[i]= 'KUET'
print(eng_uni)

['RUET', 'KUET', 'BUET', 'CUET']